.simpleCard {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 16px;
  margin: 6px;
  /* position: absolute; */
}

.simpleData {
  border-radius: 20px;
  background-color: black;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.data h5{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.data p{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.img img{
    margin-right: 12px;
    width: 60px;
}

.menuIcon img{
    width: 50px;
    color: white;
    position: relative;    
    right: 10px;
    top: 10px; 
}