.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 52vh;
    width: 100%;
    /* background-color: thistle; */
    overflow: scroll;
    margin: 20px 10px 40px 0px;
    /* padding: 10px; */
}
.searchBar{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    display: flex;
    margin: 25px 25px 10px 25px;
}

.search{
    margin-left: 6vw;
}

.userPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 70vh;
}

.allAdmins{
    /* background-color: orange; */
    height: 100%;
}

