/* .App {
    text-align: center;
    margin-top: 50px;
  } */
  
  .custom-file-upload {
    /* width: ; */
    /* height: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px auto;
    border: 2px solid #474747;
    display: inline-block;
    padding: 50px 29%;
    cursor: pointer;
    background-color: #161617;
    color: #474747;
    border-radius: 8px;
  }
  
  .custom-file-upload:hover {
    background-color: #161617;
  }
  
  input[type="file"] {
    display: none;
  }
  
  p {
    margin-top: 10px;
  }
  