.customermemberdata{
    color: white;
    width: 100% !important;
    padding: 4px;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: orange; */
}

.customerImage{
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

.mainDatasection{
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
}

.customerMainMemberData{
    width: 100%;
    /* background-color: wheat; */
    max-height: 32vh;
    min-height: 7vh;
    overflow: scroll;
    overflow-x: hidden;
}

.membershipDropdown{
    width: 98% !important;
    text-align: left !important;
    background: none !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-radius: 8px !important;
    border-color: #4e4e4e !important;    
}

.membershipDropdown:after{
    display: none !important;
}